<div class="pane answerpane left active">
  <header>
    <h1>{{ question }}</h1>
  </header>
  <div class="form">
    <input id="question_id" name="answer" value="{{ question_id }}">
    <input id="answer" name="answer" placeholder="your answer is...">
    <input type="submit" value="SEND and chceck if it's right">
  </div>
</div>