<div class="pane left askpane active">
  <header>
    <h1>New question</h1>
  </header>
  <div class="form">
    <input id="question" name="question" placeholder="Ask a question...">
    <input id="answer" name="answer" placeholder="... then provide correct answer...">
    <input type="submit" value="... get your friends INVOLVED ;)">
  </div>
</div>