<div class="pane right">
  <header>
    <h1>Rank</h1>
    <h2>see how you're doing</h2>
  </header>
  <div class="rank">
    <ol>
      <li>
        <figure>
          <img src="http://placekitten.com/g/50/50" />
        </figure>
        Imię Nazwisko - 355
      </li> 
      <li>
        <figure>
          <img src="http://placekitten.com/g/50/50" />
        </figure>
        Imię Nazwisko - 285
      </li>
      <li>
        <figure>
          <img src="http://placekitten.com/g/50/50" />
        </figure>
        Imię Nazwisko - 270
      </li>
      <li>
        <figure>
          <img src="http://placekitten.com/g/50/50" />
        </figure>
        Imię Nazwisko - 200
      </li>
    </ul>
  </div>
</div>