<div id="shadower"></div>
<div id="top">
  <figure>
    <img src="http://placekitten.com/g/50/50" />
  </figure>
  Imię Nazwisko
  <section id="badges">
    <header>
      <h2>My bagdes</h2>
    </header>
    <figure>
      <ul>
        <li class="achieved"><img src="http://placekitten.com/g/32/32" /></li>
        <li class="achieved"><img src="http://placekitten.com/g/32/32" /></li>
        <li class="achieved"><img src="http://placekitten.com/g/32/32" /></li>
        <li><img src="http://placekitten.com/g/32/32" /></li>
        <li><img src="http://placekitten.com/g/32/32" /></li>
        <li class="achieved"><img src="http://placekitten.com/g/32/32" /></li>
        <li><img src="http://placekitten.com/g/32/32" /></li>
        <li><img src="http://placekitten.com/g/32/32" /></li>
        <li><img src="http://placekitten.com/g/32/32" /></li>
        <li><img src="http://placekitten.com/g/32/32" /></li>
      </ul>
    </figure>
  </section>
</div>